Django==5.1.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langsmith==0.1.116
openai==1.44.0
pydantic==2.9.1
pydantic_core==2.23.3
python-dotenv==1.0.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.1
tiktoken==0.7.0
tokenizers==0.20.0
tqdm==4.66.5
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
yarl==1.11.0
zipp==3.20.1