Django==5.1.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-openai==0.1.23
pydantic==2.9.1
pydantic_core==2.23.3
python-dotenv==1.0.1